.map {
  width: 100%;
  max-width: 1200px;
}

.area {
  fill: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.area:hover {
  fill: rgba(0, 150, 255, 0.3);
}
div{
  background-color: darkolivegreen;
}