body, html{
  height: 100%;
}
.wrap{
  height: 100%;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container{
  display: flex;
  height:calc(100% - 120px) ;
}
.left{
  background-color: aquamarine;
  width: 200px;
}
.content{
  background-color: bisque;
  width: 400px;
}
.main{
  flex: 1;
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.foot{
  background-color: chocolate;
  height: 120px;
}
.menu ul{
  list-style: none;

}
.menu li{
  padding: 10px;
  background-color: cornsilk;
  color: cornflowerblue;
  cursor: pointer;
  position: relative;
  
}
.menu li:hover .submenu{
  display: block;

 
 
}
.submenu{
  display: none;
  /* position: absolute; */
  left: 0;
  top: 100%;
  z-index: 10;
}
.submenu li{
  color: black;
  background-color: #555;
  color: #fff;
}
.submenu li:hover {
  background-color: #555;
  color: #fff;
  border-left: 5px solid red;
}
.logo{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
}
.logo img{
  max-width: 100%;
  max-height: 80px;
}
.content{
  display: flex;
  flex-direction: column;
}
.banner{
  height: 120px;
  background-color: antiquewhite;
}
.notice{
  height: 200px;
  background-color: brown;
}
.galler{
  height: 300px;
  background-color: crimson;
}
.link{
  height: 120px;
  background-color: darkcyan;
  
}