body{
  font-size: 13px;
}
ul{
  list-style-type: none;
  
  word-spacing: 2px;

}

li{
  line-height: 2rem;
}

span{
   font-size: 1.5em;
  color: #ad3000;
  font-weight: bold;
  
}
/* 
.Front{
  font-size: 1.5em;
  color: #ad3000;
  font-weight: 500;
  line-height: 2rem;
}
#back{
  font-size: 1rem;
  color: black;
  word-spacing: 2px;
  font-weight: 350; 
} */
/* li{
 
  font-size: 1rem;
  color: black;
  word-spacing: 2px;
  font-weight: 350; 
  
  
} */


