/* 전체 선택자: 모든 요소 선택, 폰트적용, 마진과 패딩을 0으로줄때, h1태그에 별도의스타일을줄때 초기세팅을 하기위해... */
* {
  color: dodgerblue;
}

/* 타입 선택자: 특정 태그명을 가진 모든 요소를 선택, 공통css파일(프로젝트전체스타일)쪽에 사용 */
h1{
  color: red;
}
/* p{color: antiquewhite;} */

/* 클래스 선택자: 주어진 class 명을 가진 모든 요소 선택, 이름을 정해주고 특정 클래스에만 적용, ex)이름:기능-역할-명칭 */
.font-color{
  color: darkgreen;
}

/* ID선택자: HTML태그의 id로 선택, input태그(id)의 규격은 대체로 동일하게 사용해서 잘 사용안함*/
#p1{
  color: black;
}
/* 그룹선택자: ,를 구분자로하여 복수의 선택자 요소를 선택 */
em, strong{
  color: coral;
}



