*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  padding: 10px;
  background-color: bisque;
  /* width: 450px; */
  height: 450px;
  /* 부모요소에 flex 지정 */
  display: flex;
  /* flex-direction" 주축 방향을 정하는 속성 - row가 디폴트 */
  flex-direction:row;
  /* gap: item간의 간격을 조절하는 속성 */
  gap: 10px;
  /* flex-wrap: 줄 바꿈 여부를 지정 */
  /* flex-wrap: wrap; */
  /* flex-flow: flex-dirextion + flex-wrap을 한번에 지정하는 속성 */
  /* flex-flow: row wrap; */
  /* justify-content: 주축을 기준으로 아이템들을 정렬하는 방법을 지정 flex-start가 디폴트*/
  /* space-around: 부모와 아이템과의 간격, 아이템끼리의 간격을 1:2로 */
  /* space-between: 아이템을 양쪽끝으로 배치한후 중앙에 정렬 */
  /* space-evenly: 모든 여백을 적절히 */
  justify-content: space-evenly;

  /* align-items: 교차축 기준으로 단일 라인을 정렬하는 방법을 지정 stretch가 디폴트 */
  /* baseline: 컨텐츠가 출력되는 위치 기준 */
  /* align-items: end; */
  
  /* align-content: 교차축 기준으로 여러 라인을 정렬하는 방법을 지정 */
  align-content: space-evenly;

}
.item{
  /* flex-basis: 아이템들의 기본 크기를 설정 디폴트는 0, auto:콘텐츠크기만큼 가정, 0:없는걸로가정 */
  /* flex-basis: 150px; */
  
  /* flex-grow: 빈 공간이 생겼을 때 얼마만큼 더 커질지 결정하는 속성  basis를 px로 주면 0으로 해줘야함*/
  /* flex-grow: 1; */

  /* flex-shrink: 공간이 부족할 때 얼마나 더 줄어들지 결정하는 속성 */
  /* flex-shrink: 1; */

  /* flex: grow, shrink, basis를 한번에 작성(실무 권장) */
  flex: 1;


  /* width: 100px;
  height: 100px; */
  background-color: darkseagreen;
  border: 1px solid black;
}
.container2{
  display: flex;
  height: 450px;
  width: 450px;
  padding: 10px;
  margin: auto;
  background-color: brown;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
}
/* .item:nth-child(3){
  flex-grow: 2;
} */