*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: grid;
  grid-template-columns: 200px 1fr;
}
/* ------------------------- */
/* 사이드바 관련 */
/* ------------------------- */
.side-bar{
  background-color: #ff3d49;
}
.side-inner{
  /* grid item인 'side-bar'에 position을 줘도 적용이 안되기때문에 
     'side-bar'의 컨텐츠들을 한번 더 랩핑 해줬음*/
  position: sticky;
  top: 0;
  color: white;
}
.title{
  /* padding: 50px 25px; 260331 del (task번호 ex: pt-edt06-0001)사유~ */
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-box{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.nav-title{
  background-color: #ff5662;
  padding: 8px 15px;
  font-weight: 900;
}
.nav-list{
  list-style: none;
  /* flex 넣은 이유: 아이템들 간의 간격을 편하게 조절하기 위해 */
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
a{
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  padding: 3px 15px;
}
.nav-list > li:hover{
  background-color: black;
  transition: all 0.5s;
}
/* ------------------------- */
/* 메인 관련 */
/* ------------------------- */
.main{
  background-color:#f5f5f5;
  height: 200vh; /*TODO: 사이드바 완료 후 지워*/
}
